<mapper namespace="com.lagou.dao.IUserDao">
    <!--sql 的唯一表识：namespace.id组成：statementId-->
    <select id="findAll" resultType="com.lagou.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.lagou.pojo.User" paramterType="com.lagou.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <update id="updateUser" resultType="java.lang.Integer" paramterType="com.lagou.pojo.User">
        update user set username = #{username} where id = #{id}
    </update>

    <insert id="insertUser" resultType="java.lang.Integer" paramterType="com.lagou.pojo.User">
        insert into user values(#{id},#{username})
    </insert>

    <delete id="deleteUser" resultType="java.lang.Integer" paramterType="java.lang.Integer">
        delete from user where id = #{id}
    </delete>

</mapper>